apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-principal
  namespace: default
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - mi-nas-vaz.myqnapcloud.com
        - "*.mi-nas-vaz.myqnapcloud.com"
      secretName: wildcard-mydominio-tls
  rules:
    - host: mi-nas-vaz.myqnapcloud.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: indumentaria-service
                port:
                  number: 80
    - host: sistema.mi-nas-vaz.myqnapcloud.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: saas-service
                port:
                  number: 80
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: indumentaria-service
                port:
                  number: 80
